.levels-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10% 20px 10%;
  flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
}

.level-card {
  width: 300px;
  background-image: url(../../Assets/Images/BlackBG.jpg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 10px 2px 10px;
  max-width: 250px;
  flex: 1; /* Allow items to expand and fill the available space */
}

.level-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.level-title {
  padding: 16px;
  font-size: 18px;
  color: #ffffff;
}

/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
  .level-card {
    width: 250px; 
  }
}

/* Media query for even smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .levels-container {
    padding: 10px; 
  }

  .level-card {
    width: 100%; 
    margin: 2px 0; 
  }
  
  .level-title {
    font-size: 15px;
  }
}
