.about-container {
  display: flex;
  flex-direction: column;

  background-color: #f7f7f7;

  .image-with-text-container {
    position: relative;
    .image {
      width: 100%;
      height: 580px;
    }

    .text {
      position: absolute;
      font-family: "Goldman", cursive;
      bottom: 0;
      left: 0;
      font-weight: 700;
      color: #fff;
      padding: 80px 100px;
      font-size: 48px;
      span {
        font-family: "Goldman", cursive;
        font-weight: 700;
        font-size: 48px;
        color: #ffd626;
      }
    }
  }

  .ab {
    justify-content: center;
    align-items: center;
    .about-text {
      padding: 30px;
    }

    .truck {
      width: 3%;
    }

    h2,
    h3 {
      color: #333;
    }
  }

  .center-heading {
    text-align: center;
    margin: 80px;
  }
  .info-grid {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 40px;
    margin-bottom: 180px;
  }
}
