.about-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;

  .image-with-text-container {
    position: relative;
    .image {
      width: 100%;
      height: 300px;
      display: block;
      object-fit: cover;
    }
    .text {
      position: absolute;
      font-family: "Goldman", cursive;
      bottom: 0;
      left: 0;
      font-weight: 700;
      color: #fff;
      padding: 80px 100px;
      font-size: 48px;
      span {
        font-family: "Goldman", cursive;
        font-weight: 700;
        font-size: 48px;
        color: #ffd626;
      }
    }
  }

  .ab {
    justify-content: center;
    align-items: center;
    .about-text {
      padding: 30px;
      p {
        text-align: left;
      }
    }

    .truck {
      width: 3%;
    }

    h2,
    h3 {
      color: #333;
      font-family: "Goldman", cursive;
      margin-bottom: 25px;
      font-size: 30px;
      text-align: left;
    }
  }

  .center-heading {
    text-align: center;
    .title1{
      font-size: 30px;
      @media (max-width:600px) {
        font-size: 20px;
      }
      span{
        font-size: 35px;
        @media (max-width:600px) {
          font-size: 30px;
        }
      }
    }
  }
  .info-grid {
    // position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
  
    background-color: transparent;
  }
}
