
.budgets-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10% 20px 10%;
  }
  
  .budget-card {
    width: 300px;
    background-image: url(../../Assets/Images/BlackBG.jpg);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 10px 2px 10px;
    max-width: 250px;
  }
  
  .budget-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .budget-title {
    padding: 16px;
    font-size: 18px;
    color: #ffffff;
  }