.si {
  background: white;
  background: -webkit-linear-gradient(to right, #ffc21b);

  background: linear-gradient(to right, white #ffd000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
}

.register span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.5em 1em;
}

#form > .btn {
  background-color: #493f00;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#form > .btn:hover {
  background-color: #776700;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}
.pass {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
/* Add a style for the close icon */
.close-icon {
  position: absolute;
  top: 120px;
  font-size: 20px;
  right: 20px;
  cursor: pointer;
}

/* Style to hide the form when it's closed */
.closed {
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}
.signup-with-mail-btn {
  color: #000000;
  border: 1.5px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
}
.or-line {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}
.policy {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.old-customer {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
}

p {
  font-size: 16px;
  color: #414141;
  margin-bottom: 5px;
  margin-top: 5px;
}
p:hover {
  color: #002168;
}
