.blog-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin: 40px 9%;
    align-items: center;
    @media (max-width: 768px) {
      display: block;
    }
  }
  
  .blog-item {
    padding: 20px;
    text-align: center;
  }

  .image {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  
  .h2 {
    margin-bottom: 20px;
    color: black;
    font-size: 18px !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 550;
    @media (max-width: 768px) {
      font-weight: 900;
    }
  }

  p{
    margin: 10px 0px 20px;
    color: black;
    font-size: 14px ;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
  }
  