.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 20fr;
  position: absolute;
  background-color: #ffffff;
  min-height: 100vh;

  .add_product_form {
    .row {
      display: flex;
      flex-wrap: wrap;

      .col-lg-12 {
        width: 90%;
        box-sizing: border-box;
      }

      .col-lg-5 {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
        box-sizing: border-box;

        .fotm-group {
          label {
            font-weight: bold;
            display: flex;
          }

          input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 20px;
          }
        }
      }

      .col-lg-3 {
        width: calc(25% - 20px);
        margin-right: 30px;
        margin-left: 20px;
        box-sizing: border-box;

        .fotm-group {
          label {
            font-weight: bold;
            display: flex;
          }

          select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-top: 10px;
          }

          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 20px;

            #product_price {
              width: 80%;
            }
          }
        }
      }

      .col-lg-3:nth-child(3n) {
        margin-right: 0;
      }

      .col-lg-6:last-child {
        margin-right: 0;
      }

      .col-lg-12.add_price-screen {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px 20px;
        margin-bottom: 20px;

        span {
          padding: 7px 18px;
          background-color: transparent;
          border-radius: 5px;
          position: relative;
          border: 1px solid black;

          svg {
            background-color: transparent;
            border-radius: 5px;
            position: absolute;
            color: red;
            cursor: pointer;
            top: 0px;
            right: 0px;
            transform: translate(50%, -50%);
          }
        }
      }

      .btn_right_table {
        text-align: right;

        button {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #000;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
}
