.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // Adjust the gap between product cards
}

.product-card {
  width: 25%;
  border-radius: 5px;
  overflow: hidden;
  // transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    // transform: scale(1.05); // Increase size on hover
  }

  .product-card-img {
    img {
      width: 100%;
      height: auto;
    }
  }

  .product-card-details {
    padding: 10px;
    text-align: left;

    .product-card-name {
      font-weight: bolder;
      color: #4d4d4d;
    }
    .product-card-title {
      font-weight: 400;
      margin-bottom: 4px;
    }
    .product-card-price {
      font-weight: 400;
      color: #4d4d4d;
    }
  }
}
