.blog {
  background-color: #f7f7f7;

  .image-with-text-container {
    position: relative;
  }

  .image {
    width: 100%;
    height: 580px;
  }

  .text {
    position: absolute;
    font-family: "Goldman", cursive;
    bottom: 0;
    left: 0;
    font-weight: 700;
    color: #fff;
    padding: 60px 100px;
    font-size: 48px;
    span {
      font-family: "Goldman", cursive;
      font-weight: 700;
      font-size: 48px;
      color: #ffd626;
    }
  }

  .blog-section {
    padding: 40px 90px 80px 90px;
    text-align: left;

    .upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      .headblog {
        font-family: "Goldman", cursive;
        font-weight: 700;
        font-size: 44px;
        margin-bottom: 20px;
      }

      .sort-by {
        display: flex;
        align-items: center;

        label {
          margin-right: 10px;
        }

        select {
          border: 1px solid #ccc;
          padding: 5px;
        }
      }
    }
  }

  .blog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }
  .blog-card {
    cursor: pointer;
    width: calc(25% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;

    .blog-image {
      width: 100%;
      height: auto;
    }

    .blog-title {
      font-size: 20px;
      margin: 10px 0;
    }

    .blog-meta {
      color: #777;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .blog-description {
      font-size: 16px;
    }
  }
}
