.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 20fr;
  position: absolute;
  background-color: #f4f4f8;
  min-height: 100vh;

  .add_product_form {
    padding: 20px 0px;

    p {
      font-size: 30px;
      font-family: rubik;
      font-weight: 300px;
      color: black;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .cp-wrapper {
      background-color: #ffffff;
      padding: 0px 1px;

      .cp-row-div {
        margin-top: 10px;
        border: 1px dotted black;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px 0px;
      }

      .cp-row {
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 10px 20px;

        .cp-input-group {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          label {
            font-size: 15px;
            color: black;
            font-weight: 500;
            margin-bottom: 4px;
          }

          input,
          select {
            // width: 100%;
            padding: 5px 5px;
            border: 1px solid #6a6a6a;
            border-radius: 2px;
            outline: none;
            font-size: 16px;
            width: 180px;
          }

          .cp-dec {
            width: 500px;
            padding: 5px 3px;
            font-size: 15px;
          }

          button {
            cursor: pointer;
            font-family: "rubik";
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            border: none;
            background-color: #ffd626;
            padding: 8px;
            margin-top: 3px;
          }
        }

        .cp-img-wrapper {
          flex-direction: row;
          display: flex;
          justify-content: flex-start;
          justify-content: flex-end;
          gap: 15px 20px;

          .image-input {
            display: flex;
            align-items: center;
            border: 1px solid rgb(125, 125, 125);

            input[type="file"] {
              display: none;
            }

            // .image-button {
            //   cursor: pointer;
            //   padding: 10px;
            //   background-color: #201a1a;
            //   border: 1px solid #ccc;
            //   color: #ffffff;
            //   border-radius: 4px;
            //   display: flex;
            //   align-items: center;

            //   i.fa.fa-image {
            //     margin-right: 5px;
            //   }
            // }

            img {
              padding: 10px;
            }
          }

          .cp-img-pw {
            border: 1px solid rgba(0, 0, 0, 0.158);
            width: 150px;
            height: 150px;
            background-color: #fff;

            .img-pw {
              width: 150px;
            }
          }
        }
      }
    }

    .row {
      .col-lg-12.add_price-screen {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px 20px;
        margin-bottom: 20px;

        span {
          padding: 7px 18px;
          background-color: #f9f5cc;
          border-radius: 5px;
          position: relative;
          border: 1px solid black;

          svg {
            background-color: #f4f4f8;
            border-radius: 5px;
            position: absolute;
            color: red;
            cursor: pointer;
            top: 0px;
            right: 0px;
            transform: translate(50%, -50%);
          }
        }
      }

      #createProductFormImage {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
          height: 80%;
        }
      }

      .btn_right_table {
        text-align: center;
        margin-top: 20px;

        button {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #000;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
}
