.dashboard {
  display: flex;

  #add_product_area {
    .container {
      padding: 20px;

      .row {
        .col-lg-12 {
          .add_product_wrapper {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            h4 {
              margin-bottom: 20px;
            }

            .add_product_form {
              .fotm-group {
                margin-bottom: 20px;

                label {
                  font-weight: bold;
                  display: flex;
                }

                input[type="text"] {
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  font-size: 16px;
                  margin-top: 10px;
                  margin-bottom: 20px;
                }
              }

              .btn_right_table {
                text-align: right;

                .theme-btn-one {
                  background-color: #000;
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  font-size: 14px;

                  &:hover {
                    background-color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
