.sidebar {
  width: 250px;
  background-color: #1a1212;
  color: #fff;
  padding: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;
      border-left: 3px solid transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 0px 10px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
