.terms-condition-page {
  text-align: center;
  min-height: 100vh;

  .terms-condition-content {
    text-align: justify;
    margin: 0 auto;

    p {
      color: black;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
    }
  }
}
