@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Goldman&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,600;6..12,700&family=Poppins:wght@400;500;600&display=swap");

.home {
  background-image: url(../../Assets/Images/temp.jpg);
}

.home-content {
  padding: 14vw 60px 14vw 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1 {
    color: white;
    text-align: end;
  }

  h4 {
    color: #ffd626;
    font-weight: 400;
    text-align: end;
    margin: 2px 0px 10px 0px;
  }

  button {
    margin: 18px 2% 40px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 9px 18px;
  }
}

.home-2 {
  flex-direction: column;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9 !important;
  @media (max-width: 768px) {
    section {
      padding: 20px;
    }
  }
}
//  shifted in bottom
.info-grid {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
// .bg1 {
//   position: absolute;
//   width: 100%;
//   background-size: auto;
//   z-index: -1;
// }

.content-of-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f8f9;

  .title {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }

  .description {
    font-family: Inter;
    font-size: medium;
    font-size: 18px;
  }
  .menu__container {
    .menu__head-sec {
      font-weight: 400;
    }

    .menu__head {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .menu__items {
      gap: 35px;
      background-color: #ffffff;
      width: 50vmax;
      margin: 0 auto 35px auto; //For Centering
      border-radius: 25px;

      //Removing Marign From Class p-text
      .p-text {
        margin: 0;
      }

      div {
        padding: 0.6vmax 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .menu__items {
        gap: 20px;
        background-color: #ffffff;
        // width: 50vmax;
        padding: 2px 5px;
        margin: 0 auto 35px auto; //For Centering
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        //Removing Marign From Class p-text
        .p-text {
          margin: 0;
        }

        div {
          padding: 0.6vmax 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
          text-align: center;
        }

        //Active Item Will Have this property
        .item-active {
          background-color: #8bc54b;
          color: white;
          border-radius: 25px;
          padding: 0.6vmax 10px;
        }

        //Active Item Will Have this property
        .item-active {
          background-color: #8bc54b;
          color: white;
          border-radius: 25px;
          padding: 0.6vmax 10px;
        }
      }
    }
    .spr-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px 20px;
      margin-top: -10px;

      .Card {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

/* Tablets/iPad */
@media (max-width: 1024px) {
  .div__row-img {
    padding: 5vmax 0;
    margin-top: -50px;
  }

  .Menu .menu__container .menu__head {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .Menu .menu__container .menu__items {
    width: 80vmax;
    margin: 0 auto 25px auto;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  .div__row-img {
    padding: 5vmax 0 0 0;
    margin-top: -75px;
  }

  .Menu .menu__container .menu__head {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .Menu .menu__container .menu__items {
    width: 50vmax;
    margin: 0 auto 35px auto;
  }
}

/* Mobile screens */
@media (max-width: 767px) {
  .div__row-img {
    padding: 3vmax 0;
    margin-top: -40px;
  }

  .Menu .menu__container .menu__head {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .Menu .menu__container .menu__items {
    width: 80vmax;
    margin: 0 auto 20px auto;
  }
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem 1rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: #313bac;
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }
  .item-active {
    background-color: #313bac;
    color: #fff;
  }

  @media screen and (max-width: 970px) {
    justify-content: flex-start;
  }
}

.content-of-goal {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }

  .desciption {
    margin-bottom: 20px;
    font-family: Inter;
    font-size: medium;
    font-size: 18px;
  }
}

.goals-section {
  background-image: url(../../Assets/Images/bg2.jpg);
  display: flex;
  justify-content: center;
}

.home-3 {
  background-image: url(../../Assets/Images/bg1.jpg);
}

.shop-by-level {
  padding: 3px 3px 3px 3px;
}

.level-title {
  h3 {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    border: 0;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }
}

.level-description {
  font-size: 18px;
  color: #080a08;
}

.know-more {
  padding: 40px 20px 20px 20px;
  h3 {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    border: 0;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }
  .know-more-card {
    display: flex;
    justify-content: center;
  }
  .know-more-bg {
    background-image: url(../../Assets/Images/proteinBG.png);
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
  }

  .know-more-container {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .know-more-container {
    h3 {
      padding-top: 40px;
      margin: 70px 60px 30px 50px;
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
    }
    p {
      font-family: "Nunito Sans", sans-serif;
      margin: 10px 60px 10px 50px;
      text-align: initial;
    }
    button {
      margin: 30px 60px 70px 50px;
      color: white;
      background-color: black;
      border: 0;
      font-size: 10px;
      padding: 10 15px;
    }
  }
  @media (max-width: 768px) {
    .know-more-card {
      display: block;
    }
    .know-more-bg {
      display: block;
      width: 100%;
    }
    .know-more-container {
      max-width: 100%;
      display: block;
      h3 {
        margin: 20px 20px 10px 20px;
        font-size: 32px;
      }
      p {
        margin: 10px 20px;
      }
      button {
        margin: 20px 20px 30px;
      }
    }
  }
}

.why-page {
  background-color: #000000;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .whyCP-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 600px;
      padding: 0;
    }
    @media (max-width: 768px) {
      img {
        width: 300px;
        padding-left: 50px;
      }
    }
  }

  .why-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      border: 0;
      margin: 5px;
      text-align: left;
    }

    p {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      text-align: left;
      margin: 0px 5px;
    }

    button {
      font-size: 14px;
      font-weight: 500;
      margin: 30px 5px 5px;
    }
  }
  @media (max-width: 768px) {
    display: block;
    padding: 30px;
    .whyCP-img {
      width: 80%;
      margin-bottom: 10px;
    }
    .why-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-size: 26px;
        border: 0;
        margin: 5px;
        text-align: left;
      }

      p {
        font-size: 16px;
        text-align: left;
        margin: 0px 5px;
      }

      button {
        font-size: 14px;
        font-weight: 500;
        margin: 30px 5px 5px;
      }
    }
  }
}

.home-4 {
  background-image: url(../../Assets/Images/bg3.png);
}

.fitness-bracket {
  padding: 40px 20px 20px 20px;
  h3 {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    border: 0;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }

  p {
    font-size: 18px;
    color: #080a08;
  }

  .get-combos {
    padding-top: 80px;
  }
}

.img-slider {
  background-image: url(../../Assets/Images/bg2.jpg);
}

.blog-page {
  h3 {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    border: 0;
    span {
      font-family: "Goldman", cursive;
      font-weight: bold;
      font-size: 48px;
      color: #ffd626;
    }
  }
}
