.Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;

  .product-card {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 15px 15px 15px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.224);
    overflow-x: hidden;
    cursor: pointer;
    background-color: #fff;

    .badge {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #00cf03;
      color: #ffffff;
      padding: 4px 6px;
      border-radius: 0px 0px 0px 10px;
      font-weight: bold;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      border-style: double;
    }
    .badge .badge_top {
      font-size: 20px;
      margin-left: 0px;
    }
    .badge .badge_btm {
      font-size: 16px;
      margin-left: 0px;
    }

    .product-card-img {
      width: 100%;
      img {
        width: 100%;
      }
      @media (max-width: 768px) {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .product-card-details {
      padding: 10px;
      text-align: left;
      width: 100%;

      .space {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px 15px;
        .product-card-price {
          font-weight: 400;
          color: #4d4d4d;
          font-size: 18px;
          text-decoration: line-through;
          display: inline-block;
        }
        .d-price {
          font-size: 18px;
          color: red;
          display: inline-block;
        }
      }

      .product-card-name {
        font-weight: bolder;
        color: #4d4d4d;
        font-size: 17px;
      }
      .product-card-title {
        font-weight: 400;
        margin-bottom: 4px;
        font-size: 16px;
      }

      .card-btns {
        justify-content: center;
        display: flex;
        .he {
          cursor: pointer;
          font-family: "rubik";
          border-radius: 5px;
          font-size: 16px;
          width: 100%;
          border: 1px solid black;
          background-color: rgb(232, 209, 0);
          padding: 5px;
          margin-top: 3px;
        }
      }

      @media (max-width: 768px) {
        .product-card-name {
          font-size: 14px;
        }
        .product-card-title {
          font-size: 14px;
        }
        .product-card-price {
          font-size: 14px;
        }
        .he {
          padding: 2px;
          color: #121212;
          font-size: 10px;
        }
      }
    }
  }
}
