.Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;

  .product-card {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 15px 15px 15px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.264);
    overflow-x: hidden;
    cursor: pointer;
    background-color: #0d0d0b;

    .badge {
      position: absolute;
      background-image: url(../../Assets/Images/label.png);
      width: 50px;
      height: 50px;
      background-position: center center;
      background-size: cover;
      top: 0px;
      left: 0px;
      color: #ffffff;
      padding: 4px 6px;
      font-weight: bold;
      display: flex;
      text-align: center;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 1px;
    }

    .badge .badge_top {
      font-size: 13px;
      margin-left: 0px;
      font-weight: 400;
    }

    .badge .badge_btm {
      font-size: 13px;
      margin-left: 0px;
      font-weight: 400;
    }

    .product-card-img {
      width: 100%;

      img {
        width: 100%;
      }

      @media (max-width: 768px) {
        img {
          width: 100%;
          height: auto;
        }
      }

      .image-container {
        position: relative;
        overflow: hidden;
      }

      .veg-icon {
        position: absolute;
        top: 16px;
        right: 17px;
        width: 25px;
      }
    }

    .product-card-details {
      padding: 8px 0px;
      text-align: left;
      width: 100%;


      .space {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 8px 8px;

        .product-card-price {
          font-weight: 400;
          color: #8a8a8a;
          font-size: 16px;
          text-decoration: line-through;
          display: inline-block;
        }

        .d-price {
          font-size: 17px;
          // color: #00cf03;
          color: #ffd626;
          color: #eee;
          display: inline-block;
          font-weight: 500;
        }
      }

      .product-card-name {
        font-weight: bolder;
        color: #eee;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 20px;
        min-height: 44px;
        overflow: hidden;
      }

      .product-card-title {
        font-weight: 400;
        margin-bottom: 4px;
        font-size: 15px;
        color: #989797;
      }

      .card-btns {
        justify-content: center;
        display: flex;

        .card-btn {
          cursor: pointer;
          font-family: "rubik";
          border-radius: 3px;
          font-size: 17px;
          font-weight: 400;
          width: 100%;
          // border: 1px solid black;
          border: none;
          background-color: #ffd626;
          padding: 8px 5px;
          margin-top: 3px;
        }
      }

      @media (max-width: 768px) {
        .product-card-name {
          font-size: 14px;
        }

        .product-card-title {
          font-size: 14px;
        }

        .product-card-price {
          font-size: 14px;
        }

        .card-btn {
          padding: 2px;
          color: #121212;
          font-size: 10px;
        }
      }
    }
  }
}