@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Goldman&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,600;6..12,700&family=Poppins:wght@400;500;600&display=swap");
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.home-page {
  .hero-sec {
    position: relative;

    .slick-slider {
      width: 100%;
      margin: 0 auto;

      .slick-prev,
      .slick-next {
        font-size: 24px;
        line-height: 1;
        color: #fff;

        &:before {
          color: #fff;
        }
      }

      .slick-prev {
        left: 10px;
      }

      .slick-next {
        right: 10px;
      }

      .slick-dots {
        bottom: 20px;
        font-size: 8px;

        li {
          button {
            font-size: 12px;
            width: 12px;
            height: 12px;
            margin: 0 5px;

            &::before {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: #fff;
            }
          }

          &.slick-active {
            button {
              &::before {
                background-color: #ffe81c; // Change color for active dot
              }
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

//  shifted in bottom
.info-grid {
  display: flex;
  justify-content: center;
}

.home-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f8f9;
  // background-image: url(../../Assets/Images/bg3.png);
  justify-content: center;
  align-items: center;

  .home-pr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;

    .product-filter {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px 11px;
      display: flex;
      padding: 10px 0px;
      margin-bottom: 20px;
      width: 100%;
      // border: 1px solid black;

      .pr-filter-item {
        border: 1px solid rgba(0, 0, 0, 0.23);
        padding: 6px 11px;
        border-radius: 2px;
        background-color: #fff;
        color: #000;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #313bac;
          color: #fff;
        }

        @media screen and (min-width: 2000px) {
          padding: 1rem 2rem;
          border-radius: 0.85rem;
        }
      }

      .item-active {
        background-color: #313bac;
        color: #fff;
      }
    }
  }
  .spr-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .Card {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.merch-product {
  background-color: transparent;
  .sec-head {
    color: white;
  }
}
.content-of-goal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .desciption {
    margin-bottom: 20px;
    font-family: Inter;
    font-size: medium;
    font-size: 18px;
  }

  .goals-section {
    margin-top: 25px;
    padding: 15px 10px;
    background-image: url(../../Assets/Images/bg2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
}

.sec-level {
  padding-bottom: 15px;
  background-image: url(../../Assets/Images/bg1.jpg);
}

.know-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  width: 100%;

  .know-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      justify-content: center;
      height: auto;
      width: 500px;
    }

    @media (max-width: 520px) {
      width: 300px;
      height: auto;
    }

    @media (max-width: 338px) {
      width: 250px;
      height: auto;
    }
  }

  .know-more-text {
    flex: 1;
    max-width: 600px;
    height: 100%;
    padding: 20px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h3 {
      text-align: left;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      margin-bottom: 5px;
      font-weight: bold;

      @media (max-width: 520px) {
        font-size: 25px;
      }
    }

    p {
      color: #000;
      font-family: "Nunito Sans", sans-serif;
      text-align: left;
      text-align: justify;

      @media (max-width: 520px) {
        font-size: 15px;
      }
    }

    .bn-btn {
      margin-top: 10px;
      padding: 10px 12px;
      color: white;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: black;
      border: 0;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 2px;

      @media (max-width: 338px) {
        font-size: 14px;
      }
    }
  }

  .know-more-img {
    max-width: 500px;
    width: 500px;
    height: 500px;
    // width: 50%;
    background-image: url(../../Assets/Images/kburly.JPG);
    background-position: center center;
    background-size: cover;

    @media (max-width: 1000px) {
      height: 500px;
    }

    @media (max-width: 520px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 338px) {
      width: 250px;
      height: 250px;
    }
  }
}

.why-page {
  background-color: #000000;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .why-btn {
    background-color: #fff;
    padding: 7px 15px;
    margin-top: 10px;
    color: black;
    font-size: 17px;
    border-radius: 2px;
  }

  .whyCP-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 600px;
      padding: 0;
    }

    @media (max-width: 768px) {
      img {
        width: 300px;
        padding-left: 50px;
      }
    }
  }

  .why-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      border: 0;
      margin: 5px;
      text-align: left;
    }

    p {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      text-align: left;
    }

    button {
      font-size: 14px;
      font-weight: 500;
      margin: 30px 5px 5px;
    }
  }

  @media (max-width: 768px) {
    display: block;
    padding: 30px;

    .whyCP-img {
      width: 80%;
      margin-bottom: 10px;
    }

    .why-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-size: 26px;
        border: 0;
        margin: 5px;
        text-align: left;
      }

      p {
        font-size: 16px;
        text-align: left;
        margin: 0px 5px;
      }

      button {
        font-size: 14px;
        font-weight: 500;
        margin: 30px 5px 5px;
      }
    }
  }
}

.fitness-bracket {
  background-image: url(../../Assets/Images/bg3.png);
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 18px;
    color: #080a08;
  }
}

.sec-combo {
  padding-bottom: 15px;

  .img-slider {
    background-image: url(../../Assets/Images/bg2.jpg);
  }
}

.sec-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .p-page{
//   border: 1px solid black;
//   .sec-head{
//     text-align: left;
//     border: 1px solid black;
//   }
//   .sec-para{
//     text-align: left;
//   }
//   .level-cards{
//     .spr-wrapper{
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//       flex-direction: row;
      
//     }
//   }
// }