.image-with-text-container {
  position: relative;
  .image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
  }
  .text {
    position: absolute;
    font-family: "Goldman", cursive;
    bottom: 0;
    left: 0;
    font-weight: 700;
    color: #fff;
    padding: 80px 100px;
    font-size: 48px;
    span {
      font-family: "Goldman", cursive;
      font-weight: 700;
      font-size: 48px;
      color: #ffd626;
    }
  }
}

.contain {
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .app {
    // display: flex;
    padding: 20px;
  }

  .sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
  }

  .sidebar-header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .main-content {
    padding: 20px 30px 50px 50px;

    .filters {
      display: flex;
      justify-content: space-between;
    }
  }

  .top-bar {
    margin-bottom: 20px;

    .search-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
    }
  }

  .product-count {
    font-weight: bold;
  }

  .sort-by select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
