/* TabComponent.scss */
.image-with-text-container {
  position: relative;
  .image {
    width: 100%;
    height: 580px;
  }
}

.text {
  position: absolute;
  font-family: "Goldman", cursive;
  bottom: 0;
  left: 0;
  font-weight: 700;
  color: #fff;
  padding: 60px 100px;
  font-size: 48px;
  span {
    font-family: "Goldman", cursive;
    font-weight: 700;
    font-size: 48px;
    color: #ffd626;
  }
}
/* Authenticate.scss */

.tab-container {
  width: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid black;
  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  margin: 0 10px;
  padding: 20px;

  .svg-inline--fa {
    font-size: 20px;
    margin-right: 5px;
  }

  // Style for the text
  span {
    font-size: 18px;
  }

  &:hover {
    color: white;
    background-color: rgb(23, 23, 23);
  }
}
/* Authenticate.scss */

.tab-content {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab1-content {
  width: 40%;
  background-color: #ffffff;
  padding: 20px;

  .content-container {
    text-align: center;
    h2 {
      font-size: 24px;
    }
    p {
      margin: 10px 0;
    }
    form {
      display: flex;
      flex-direction: column;

      .form-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          margin-bottom: 7px;
          font-size: 16px;
          font-weight: 400;
        }

        input {
          margin-bottom: 10px;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 3px;
          width: 100%;
          height: 30px;
        }
      }

      button {
        padding: 15px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        margin: 10px 0;
      }

      .checkbox-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .checkbox {
          justify-content: center;
          align-items: center;
          height: 80%;
          width: 40px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
}

.tab2-content {
  
  h2 {
    font-size: 24px;
  }
  p {
    margin: 10px 0;
  }
}
.section {
  text-align: center;

  h2 {
    padding-left: 20px;
    font-size: 24px;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;

    .image {
      margin: 20px;
      width: 30%; // Adjust the width as needed
      .image-content {
        position: relative;
        img {
          max-width: 100%;
          height: auto;
        }
        .image-button {
          cursor: pointer;
          position: absolute;
          bottom: 0px;
          left: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1.5px solid black;
          background-color: #ffffff;
          color: #000;
          padding: 0px 60px 0px 70px;
          margin: 10px;

          h3 {
            margin-right: 8px;
            margin-bottom: 0px;
            font-size: 16px;
          }
          .right-arrow {
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #000;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .image {
      width: 48%; // Adjust the width for smaller screens
    }
  }
}
