.table-page {
  text-align: center;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;

  th,
  td {
    border: 1px solid #6b6b6b;
    padding: 10px 3px;
  }
  th {
    background-color: #333;
    color: #ffffff;
  }
  td {
    font-size: 16px;
    background-color: #ffffff;
    @media (max-width: 400px) {
      font-size: 14px;
    }
  }
}
