@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,600;6..12,700&family=Poppins:wght@400;500;600&display=swap');

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 20px 0px 20px;
  max-width: 75%;
  background: none;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    max-width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    // grid-template-columns: 2fr;
    margin-bottom: -48px;
  }
}

.grid-item {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Add some margin to the items for better spacing */

  @media (max-width: 480px) {
    padding: 5px ; /* Reduce padding for smaller screens */

  }
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 40%;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  margin: 10px 0;

  @media (max-width: 767px) {
    // display :none;
    font-size: 8px;
  }

  @media (max-width: 480px) {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

.description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10px;
  color: #777777;

  @media (max-width: 767px) {
    display :none;
  }

  @media (max-width: 480px) {
    font-size: 8px; /* Adjust font size for smaller screens */
  }
}
