.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 20fr;
  position: absolute;
  background-color: #ffffff;
  height: 60vh;

  @media screen and (max-width: 900px) {
    display: none;
  }

  .productListContainer {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;

    #productListHeading {
      font: 400 2rem "Roboto";
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.637);
      transition: all 0.5s;
      text-align: center;
    }

    .profile-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      max-width: 900px;
      background-color: #f4f4f4;
    }

    .profile-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input {
        padding: 8px;
        border: 1.3px solid rgb(32, 20, 20);
        background-color: transparent;
        border-radius: 4px;
      }

      .verify-button {
        margin-top: 5px;
        background-color: #1f1414;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .profile-description {
      margin-bottom: 5px;

      label {
        margin-bottom: 5px;
        font-weight: 400;
      }
    }

    .profile-checkbox {
      margin-top: 10px;
      margin-bottom: 20px;

      label {
        display: flex;
        align-items: center;

        input {
          margin-right: 5px;
        }
      }
    }

    .profile-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px 10px;

      .cancel-button {
        background-color: #ccc;
        color: rgb(0, 0, 0);
        border: none;
        padding: 10px 50px 10px 50px;
        border-radius: 4px;
        cursor: pointer;
      }

      .save-button {
        background-color: var(--fade-blue);
        color: white;
        padding: 10px 50px 10px 50px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
