.dashboard {
  .productListContainer {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 80vh;

    // @media screen and (max-width: 950px) {
    //   height: 110vh;
    // }

    // @media screen and (max-width: 785px) {
    //   height: 120vh;
    // }

    // @media screen and (max-width: 675px) {
    //   height: 130vh;
    // }
    // @media screen and (max-width: 664px) {
    //   height: 140vh;
    // }

    #productListHeading {
      font: 400 2rem "Roboto";
      margin-top: 20px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.637);
      transition: all 0.5s;
      text-align: center;
      margin: 0rem;
    }

    .order-section {
      // padding: 20px;

      .order-categories {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .orders {
          display: flex;

          button {
            padding: 8px 10px 8px 10px;
            background-color: transparent;
            color: black;
            border: 1px solid #4f4f4f;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:not(:last-child) {
              margin-right: 10px;
            }

            &.active {
              background-color: #231918;
              color: #fff;
            }
          }
        }

        .sort-section {
          display: flex;
          align-items: center;

          label {
            margin-right: 10px;
          }

          .sort-select {
            font-size: 15px;
            padding: 5px;
            background-color: transparent;
            border: none;
            border-radius: 4px;
          }
        }
      }

      hr {
        border: none;
        border-top: 1px solid #ccc;
        margin-bottom: 10px;
      }

      .order-list {
        max-height: 450px;
        overflow-y: auto; 

        .order-item {
          display: block;
          padding: 10px;
          border-bottom: 1px solid #afafaf;
          margin-bottom: 15px;

          .order-details {
            flex: 1;
            display: block;
            justify-content: space-between;

            .order-info {
              margin-top: 5px;
              flex: 1;
              display: flex;
              p {
                margin-right: 10px;
              }
            }
            .order-status {
              margin-top: 5px;
              flex: 1;
              display: flex;
              p {
                margin-right: 10px;
                font-weight: bold;
                color: #000000;
              }
            }
          }

          .product {
            margin-top: 5px;
            display: flex;
            .product-details {
              flex: 1;
              display: flex;
              align-items: center;

              .productname {
                display: block;

                p {
                  font-size: 18px;
                  color: #231918;
                }
              }
            }

            .order-actions {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              button {
                margin-bottom: 10px;
                padding: 5px 10px;
                background-color: transparent;
                color: #000000;
                border: 1px solid black;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                  background-color: #231918;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}
