.dashboard {
  max-width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 20fr;
  position: absolute;
  background-color: #ffffff;
  height: 100vh;

  .productListContainer {
    // width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;

    #productListHeading {
      font: 400 2rem "Roboto";
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.637);
      transition: all 0.5s;
      text-align: center;
    }

    .profile-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      max-width: 700px;
      background-color: #ffffff;
    }

    .profile-items {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input {
        padding: 8px;
        border: 1.3px solid rgb(32, 20, 20);
        background-color: transparent;
        border-radius: 4px;
      }
    }

    .profile-descr {
      margin-bottom: 25px;

      label {
        margin-bottom: 5px;
        font-weight: 400;
      }
    }

    .profile-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .cancel-button {
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: 1px solid black;
        padding: 10px 50px 10px 50px;
        border-radius: 4px;
        cursor: pointer;
      }

      .save-button {
        background-color: var(--fade-blue);
        color: white;
        padding: 10px 50px 10px 50px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
