.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* .parentContainer{
  width: 100%;
} */

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
