.product-details-container {
  display: flex;
  @media (max-width: 768px) {
    display: block;
  }

  .left-section {
    flex: 1;
    display: flex;

    .main-product-image {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 60%;
        height: auto;
        @media (max-width: 480px) {
          max-width: 80%;
        }
      }
    }

    .additional-images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 20px;

      .additional-image {
        width: 110px;
        height: 110px;
        margin-right: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .chart {
      margin-top: 10px;
    }
  }

  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .product-info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      @media (max-width: 480px) {
        align-items: center;
        justify-content: center;
      }

      .name {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 100;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
      }

      .head {
        font-family: "Goldman", cursive;
        font-weight: 700;
        color: #000000;
        font-size: 28px;
        @media (max-width: 480px) {
          font-size: 26px;
        }
      }

      .price {
        margin: 0px 0px 20px 0px;
        .mrp {
          font-size: 20px;
          text-decoration: line-through;
          margin-right: 15px;
          @media (max-width: 480px) {
            font-size: 18px;
          }
        }
        .discounted-price {
          font-size: 20px;
          color: #e74c3c;
          @media (max-width: 480px) {
            font-size: 18px;
          }
        }
      }

      .size-options {
        display: flex;
        justify-content: flex-start;
        gap: 10px 15px;
        align-items: center;
        margin-bottom: 13px;
        .flavour {
          font-size: 16px;
          font-weight: bold;
          font-family: "nunito", sans-serif;
        }
        .btn-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px 12px;
        }
        .size-button {
          padding: 6px 12px;
          background: transparent;
          border: 1px solid #333;
          cursor: pointer;
          &.selected {
            background-color: #000000;
            color: rgb(255, 255, 255);
          }
        }
      }

      .quantity {
        margin: 0px 0px 20px 0px;
        display: flex;
        align-items: center;

        .quant {
          padding: 2px;
          border-radius: 2px;
          border: 2px solid #333;
        }

        button {
          font-size: larger;
          font-weight: 600;
          padding: 5px 10px;
          cursor: pointer;
          border: 0px solid #333;
        }
        span {
          margin: 0 10px;
          font-weight: bold;
        }
      }

      .b {
        display: flex;
        @media (max-width: 480px) {
          display: block;
        }

        .wishlist-icon {
          margin-right: 40px;
          font-size: 25px;
          color: rgb(143, 143, 143);
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover {
            color: red;
            transform: scale(1.2);
          }
        }

        .cart-button {
          margin: 0px 0px 20px 0px;
          padding: 10px 80px 10px 80px;
          margin-top: 10px;
          border-radius: 3px;
          background-color: #212121;
          color: white;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: #000000;
          }
        }
        .wishlist-button {
          margin: 0px 20px 20px 0px;
          padding: 10px 70px 10px 70px;
          margin-top: 10px;
          border-radius: 3px;
          background-color: #212121;
          color: white;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: #000000;
          }
          @media (max-width: 480px) {
            margin: 0px 3px 13px 0px;
          }
        }
      }
      .delivery-section {
        border-radius: 8px;
        padding: 20px 0px 20px 0px;

        .delivery-container {
          max-width: 600px;
          margin: 0 auto;
        }

        .delivery-heading {
          font-size: 24px;
          color: #333;
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
          }
        }

        .delivery-subheading {
          font-size: 16px;
          color: #555;
          margin-top: 10px;
        }

        .delivery-input-container {
          display: flex;
          margin-top: 10px;

          .delivery-input {
            flex-grow: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
          }

          .check-button {
            background-color: #007bff;
            color: #fff;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
      .icon-section {
        padding: 2px;
        border-radius: 8px;

        .icon-container {
          display: flex;
          justify-content: space-between;
        }

        .icon-item {
          text-align: center;
          padding: 20px;

          .icon {
            text-align: center;
            font-size: 36px;
            margin-bottom: 10px;
          }

          .description {
            text-align: center;
            font-size: 16px;
            color: #333;
          }
        }
      }
    }

    .product-description-reviews {
      // border: 1px solid black;
      text-align: left;
      h3 {
        font-size: 20px;
      }
      p {
        margin: -20px 20px 40px 0px;
      }
    }

    .manufacturing-details {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
      text-align: left;
      margin: 0px 20px 20px 0px;
      cursor: pointer;
      @media (max-width: 480px) {
        padding: 7px;
      }

      .arrow {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
      }
      h3 {
        margin: 0;
        padding: 0;
        @media (max-width: 480px) {
          font-size: 18px;
        }
      }

      p {
        display: none;
        margin: 0;
        padding: 0;
      }

      &.open {
        p {
          display: block;
        }
      }
    }
  }
}

.product-wrapper {
  padding: 40px;
  .pr-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // border-bottom: 1px solid black;
  }
  .pr-wrapper-btnbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    gap: 0px 20px;

    .pr-btn {
      cursor: pointer;
      padding: 6px 15px;
      border: 2px solid #333333;
      border-radius: 30px;
      color: #333333;
      font-family: "Montserrat", sans-serif;
    }
    .pr-btn.active {
      background-color: #000;
      color: white;
    }
  }
}
