.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .checkout-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .navigation-button {
      border: none;
      background: none;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      transition: color 0.2s;
      margin: 0 10px;

      &.active {
        background-color: black;
        color: rgb(226, 192, 0);
        font-weight: bold;
      }

      // &.completed {
      //   color: white;
      //   background-color: green; 
      // }
    }
  }

  .checkout-content {
    width: 100%;
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .checkout-navigation {
    flex-direction: column;
    gap: 10px;
  }

  .checkout-navigation .navigation-button {
    width: 100%;
  }
}
