.order-summary {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .order-items {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }

  .order-details {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;

    div {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      margin-bottom: 10px;

      span:first-child {
        font-weight: bold;
      }
    }

    .total {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
