.product-list {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .product-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 10px;

      img {
        width: 70px;
        height: 100px;
        margin-right: 20px;
      }

      .quantity {
        margin: 0px 0px 20px 0px;
        display: flex;
        align-items: center;

        .quant {
          padding: 2px;
          border-radius: 2px;
          border: 2px solid #333;
        }

        button {
          font-size: larger;
          font-weight: 600;
          padding: 5px 10px;
          cursor: pointer;
          border: 0px solid #333;
        }
        span {
          margin: 0 10px;
          font-weight: bold;
        }
      }

      .product-info {
        h3 {
          font-size: 18px;
          margin: 0;
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}
