.shipping-address {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  form {
    .form-group {
      margin-bottom: 15px;

      .flex-name {
        display: flex;

        .flex-item {
          flex: 1;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          label {
            display: flex;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            height: auto;
            padding: 8px;
            box-sizing: border-box;
          }
        }
      }

      label {
        display: flex;
        align-items: start;
        font-size: 16px;
        margin-top: 20px;
      }

      input {
        width: 100%;
        background-color: transparent;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .form-actions {
      margin-top: 20px;

      button {
        background-color: #1d1515;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
