
#checkout_one .form-group label {
    font-size: 16px;
    font-weight: 600;
}

.bg-white {
    background-color: #fff;
}

.checkout-area-bg {
    padding: 30px;
    box-shadow: 0px 0px 10px 0px #00000012;
}

.check-heading {
    border-bottom: 2px solid var(--main-theme-color);
}

.check-heading h3 {
    font-weight: 700;
    padding-bottom: 10px;
}

.check-out-form {
    padding-top: 30px;
}

#checkout-area .form-group {
    margin-bottom: 20px;
}

#checkout-area .form-group label {
    font-size: 16px;
    font-weight: 600;
}

#checkout-area .form-control {
    border: 1px solid var(--main-theme-color);
    background: #fff;
    font-size: 14px;
    border-radius: 0;
}

.order_review {
    background-color: #f7f8fb;
    padding: 30px;
}

.order_table thead th {
    border-bottom-width: 1px;
    font-weight: 600;
    color: #fff;
}

.order_table tbody td {
    border: 0;
}

.order_table tfoot th {
    font-weight: 600;
}

.product-subtotal {
    font-weight: 600;
}

.payment_method {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.payment_option .custome-radio {
    margin-bottom: 10px;
}

.custome-radio .form-check-input,
.custome-checkbox .form-check-input {
    display: none;
}

.payment_option .custome-radio .form-check-label {
    color: #292b2c;
    font-weight: 600;
}

.custome-radio .form-check-label,
.custome-checkbox .form-check-label {
    position: relative;
    cursor: pointer;
}

.custome-radio input[type="radio"]:checked+.form-check-label::before {
    border-color: var(--main-theme-color);
}

.custome-radio .form-check-label::before {
    content: "";
    border: 1px solid #908f8f;
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 8px;
}

.custome-radio input[type="radio"]:checked+.form-check-label::after {
    opacity: 1;
}

.custome-radio input[type="radio"]+.form-check-label::after {
    content: "";
    background-color: var(--main-theme-color);
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    left: 3px;
    opacity: 0;
}

.payment-text {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.payment_option .custome-radio:first-child .payment-text {
    display: block;
}

.payment_option .custome-radio .form-check-label {
    color: #292b2c;
    font-weight: 600;
}

.order_review {
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px #00000012;
}

.payment_method {
    padding-top: 30px;
}

.order_table {
    padding-top: 30px;
}

.order_review .table-responsive table thead {
    background: var(--main-theme-color);
    text-align: center;
}


/* ---------------------------------
       CheckOut Two Page 
-------------------------------------*/

.user-actions {
    margin-bottom: 20px;
}

.user-actions h3,
.user-actions .h3 {
    font-size: 13px;
    font-weight: 400;
    background-color: #f7f6f7;
    padding: 15px 10px;
    border-top: 3px solid var(--main-theme-color);
    margin-bottom: 0;
}

.user-actions h3 a,
.user-actions .h3 a {
    color: var(--main-theme-color);
}

.checkout_info {
    border: 1px solid #ededed;
    margin-top: 25px;
    padding: 20px 30px;
}

.checkout_info p {
    margin-bottom: 15px;
    font-size: 14px;
}

.form_group {
    margin-bottom: 20px;
}

.form_group .btn {
    margin-right: 20px;
}

.form_group.group_3 {
    display: flex;
    align-items: center;
}

.checkout_coupon input[type=text] {
    background: none;
    border: 1px solid #ededed;
    width: 200px;
    height: 45px;
    font-size: 12px;
    padding: 0 20px;
    color: #777;
}

.checkout_coupon .btn {
    margin-left: 20px;
}

.country_option {
    width: 100%;
}

.country_option .list {
    height: 150px;
    overflow-y: scroll;
}

.order-notes {
    margin-bottom: 53px;
}

.default-form-box label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

#checkout_two .checkout_coupon input[type=text] {
    background: none;
    border: 1px solid #ededed;
    width: 200px;
    min-height: 35px;
    font-size: 12px;
    padding: 0 20px;
    color: #777;
}

#checkout_two .checkout_coupon input[type=text] {
    background: none;
    border: 1px solid #ededed;
    width: 200px;
    max-height: 36px;
    ;
    font-size: 12px;
    padding: 0 20px;
    color: #777;
}

.default-form-box .checkbox-default {
    padding-left: 20px;
    margin: 0;
}

#checkout_two .checkout_area_two h3 {
    font-size: 16px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #fff;
    background: var(--main-theme-color);
    font-weight: 500;
}

#checkout_two #checkout_login label span {
    padding-left: 5px;
}

.checkout_form_area form {
    padding-top: 20px;
}

.checkout_form_area form .default-form-box {
    padding-bottom: 20px;
}

.order_table table thead tr th {
    min-width: 50%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.order_table table tbody tr td {
    min-width: 50%;
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.order_table table tfoot tr th {
    min-width: 50%;
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.order_table table tfoot tr td {
    min-width: 50%;
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.input-radio span {
    font-weight: 500;
    padding-right: 10px;
}

.input-radio span input[type=radio],
.account_login_form form span input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.checkbox-default-more-text em {
    margin-top: 16px;
    display: block;
}

#methodCod p {
    padding-bottom: 20px;
}

.checkout_area_two .table-responsive table thead {
    background: #000;
}

