.whatsapp-icon {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.app__navbar-links {
  padding: 2px;

  a {
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid #ffd626;
    }
  }

  .navbar {
    .nav-link {
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;

      &:hover {
        border-bottom: 1px solid #ffd626;
      }
    }
  }
}

.top__nav {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #ffd626;

  @media (max-width: 400px) {
    justify-content: center;
  }

  .header-sale {
    color: #121212;
    margin: 0;
  }

  @media (max-width: 767px) {
    @keyframes slideIn {
      from {
        transform: translateX(130%);
      }

      to {
        transform: translateX(-100%);
      }
    }
  }

  .ft-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 8px;

    @media (max-width: 400px) {
      display: none;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: black;
      padding: 6px;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }
  }

  p {
    color: #ffffff;
    font-size: 16px;
  }
}

nav {
  background-color: #212321;
  box-shadow: 0 0 20px rgba(17, 17, 17, 0.15);
  padding: 10px 5px;
  position: sticky;
  z-index: 10;
  top: 0;

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 5px 15px;
    width: auto;

    .logo {
      img {
        width: 60px;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      font-size: 14px;
      font-weight: 300;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 19px;
        }
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        margin-right: 40px;
      }

      .nav-link {
        position: relative;
        color: #fff;
        cursor: pointer;

        &:hover .dropdown {
          display: flex;
        }

        .dropdown {
          width: 350px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          flex-direction: row;
          flex-wrap: wrap;
          position: absolute;
          top: 85%;
          left: 0;
          background-color: #212321;
          padding: 10px 10px;
          border-radius: 4px;

          a {
            display: flex;
            flex-direction: column;
            width: 100px;
            gap: 5px 10px;
            justify-content: center;
            border: none !important;
            align-items: center;
            color: #000000;
            text-decoration: none;

            img {
              width: 70px;
              height: 70px;
              transition: all 0.1s linear;

              &:hover {
                transform: scale(1.005);
                border: 0.5px solid white;
              }
            }

            span {
              color: white;
            }
          }
        }
      }

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0px 15px;

      svg {
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .navbar-search {
      background: #212321;
      outline: none;
      padding: 0.4pc;
      border: solid 0.5px #ffd7265b;
      color: #fff;
    }

    .search-box {
      position: fixed;
      left: 0;
      bottom: 0;
      height: 100dvh;
      width: 100dvw;
      background: #000000ad;
      backdrop-filter: blur(5px);
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2pc;

      button {
        border: 0px solid #e9ecef;
        padding: 0.3em 0.6em;
        border-radius: 5px;
        background-color: #ffd626;
        margin-bottom: 0px;
      }

      button:hover {
        background: #000;
      }

      .product-output {
        height: 38pc;
        width: 90%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3px;

        @media screen and (max-width: 460px) {
          width: 90%;
        }
        .product-box {
          display: flex;
          flex-wrap: wrap;
          background-color: #fff;
          padding: 1pc;
          gap: 5px;
          cursor: pointer;
          width: 200px;
          height: 420px;

          img {
            width: 170px;
            height: 200px;
          }

          div {
            display: flex;
            gap: 5px;
            flex-direction: column;
            color: #212321;

            h1 {
              font-size: 1.1rem;
            }
          }
        }

        .product-box:hover {
          background-color: #ffd626;
        }
      }
    }
  }

  .app__navbar-menu-icon {
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  // position: relative;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd626;

  .mobile {
    font-weight: 500;
    gap: 4px;

    .nav-link {
      background-color: none;
      position: relative;
      width: 124px;
      height: 10px;
      color: #6b7688;
      box-shadow: none;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 230px;

      @media screen and (min-width: 600px) {
        margin-bottom: 150px;
      }

      &:hover .dropdown {
        display: flex;
      }

      .dropdown {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 10;
        width: 190px;
        height: 240px;
        padding: 0px 10px 0px 10px;

        @media screen and (min-width: 600px) {
          width: 350px;
          height: 160px;
        }

        a {
          display: flex;
          flex-direction: column;
          width: 40px;
          gap: 5px 10px;
          justify-content: center;
          border: none !important;
          align-items: center;
          margin: 0px 10px 0px 10px;
          color: #000000;
          text-decoration: none;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }

          span {
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        &:hover .dropdown {
          display: flex;
        }
      }
    }
  }

  svg {
    width: 58%;
    height: 70%;
    color: #ffffff;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: #313bac;
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      a {
        margin: 1rem;
        color: #6b7688;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: #313bac;
        }
      }
    }

    @media screen and (min-width: 1000px) {
      display: none;
    }
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.responsive__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    color: white;
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .top__nav {
    margin-top: 7px;
    display: flex;
    height: 35px;
    padding: 0px 1%;
    background-color: #ffd626;

    .header-sale {
      font-size: 11px !important;
      color: #121212;
    }

    .social__icon {
      svg {
        color: #121212;
        margin-left: 10px !important;
        font-size: 14px !important;
        cursor: pointer;
      }
    }
  }
}
