ul {
  text-align: left;
  @media (max-width: 721px) {
    justify-content: center;
    align-items: center;
  }
}
li {
  list-style: none;
  text-align: left;
  @media (max-width: 721px) {
    justify-content: center;
    align-items: center;
  }
}

main {
  flex: 1;
}

footer {
  background: #FFD626;
  color: black;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 0px !important;
  font-family: 'Roboto', sans-serif !important;
}

/* Bottom - Copyright Part  */

.f-btm {
  font-size: 14px;
  letter-spacing: 0.5px;
  // gap: 10px 0px;
  padding: 10px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 721px) {
    font-size: 13px;
  }

  .f-btm-top{
    padding: 10px 3px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.312);
    text-align: center;
  }
  .f-btm-btm{
    padding: 10px 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     border-top: 1px solid rgba(0, 0, 0, 0.312);
     @media (max-width:720px) {
      flex-direction: column;
      justify-content: center;
      gap: 7px 0px;
     }
     @media (max-width:390px) {
      font-size: 10px;
     }

    .ft-link{
      a{
        color: black;
        text-decoration: underline;
        // font-style: italic;
      }
    }
  }
}

/* Top - pages, email newsletter form ... */

.f-top {
  padding: 10px 0px;
  display: flex;
  gap: 15px 7px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  @media (max-width: 721px) {

  }
  .ft-contact{
    width: 300px;
    .sec-link-head{
      div{
        display: block;
       span{
        display: inline-block;
       }
       .ft-l-head{
        font-size: 17px;
        font-weight: 600;
       }
       .ft-l-text{
        font-size: 10px;
        font-weight: 500;
        margin-left: 5px;
       }
      }
      .ft-l-content{
        // display: none;
        margin-top: 4px;
     }
    }
    .link-sec-link{
      gap: 6px 0px !important;
    }
  }
  .ft-link-sec{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 190px;
    .ft-text{
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .ft-social{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px 15px;
      a{
        font-size: 20px;
        background-color: black;
        padding: 8px;
        border-radius:3px;
        display: flex;
        justify-content: center;
    align-items: center;
      }
    }

    .payment-cards{
      flex-direction: row;
      display: flex;
      justify-content: flex-start;
      gap: 2px 2px;
    }

    .link-sec-head{
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      &:after{
        content: "";
        bottom: -4px;
        left: 0px;
        position: absolute;
        width: 130px;
        height: 2.5px;
        background-color: black;
      }
      @media (max-width:500px) {
        font-size: 18px;
       }
    }
    .link-sec-link{
      
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px 0px;
      flex-direction: column;
      margin-top: 10px;
      @media (max-width:500px) {
        font-size: 15px;
       }
      span{
        display: block;
        a{
          color: black;
          letter-spacing: 0px;
        }
      }
    }
  }

}






/* Responsive adjustments */
@media screen and (max-width: 768px) {
  

}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 380px) {
  
}
