.dashboard {
  display: flex;

  .homeContainer {
    flex: 6;
    background-color: whitesmoke;
    color: #616161;

    .widgets {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }
  }
}
