.refund-policy {
  .title1{
    text-align: center;
  }
  .sub-title{
    font-size: 2px !important;
    color: black !important;
  }
  p {
    padding-top: 20px;
    text-align: left;
  }
}

.ship-para{
  text-align: left;
}