.si {
  background: white; 
  background: -webkit-linear-gradient(
    to right,
    #ffc21b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    white #ffd000
  ); 
  /* height: 110vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.register {
  padding: 10px 30px;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
  /* display:flex;
  justify-content: center; */
}

.register span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  background-color: #493f00;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 580px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
/* Add a style for the close icon */
.close-icon {
  position: absolute;
  top: 120px;
  font-size: 20px;
  right: 20px;
  cursor: pointer;
}

/* Style to hide the form when it's closed */
.closed {
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}
.signup-with-mail-btn {
  color: #000000;
  border: 1.5px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
}

.or-line {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}
.policy {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.old-customer {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
}
