// Font popins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

// font rubik  and cookie
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #eee;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-green: #b28c2c;
  --primary-white: #ffffff;
  --secondary-white: #fdfbfa;
  --primary-black: #000000;
  --secondary-black: #202020;
  --primary-pink: #ef8bd3;
  --primary-grey: #9c9c9c;
  --fade-black: #666666;
  --fade-yl-bg: #fffde8;
  --fade-blue: #c9b715;

  --container-width-lg: 90%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease;
}

.bn-sec {
  padding: 40px 50px;

  @media (max-width: 964px) {
    padding: 35px 40px;
  }

  @media (max-width: 600px) {
    padding: 30px 30px;
  }

  @media (max-width: 400px) {
    padding: 25px 20px;
  }

  @media (max-width: 300px) {
    padding: 20px 15px;
  }
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

// section {
//   padding: 3rem 0;
// }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--primary-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--primary-white);
  color: var(--color-black);
  padding: 0.9rem 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  font-size: 18px;
  cursor: pointer;
}

.bl-btn {
  background-color: #202020;
  color: #fdfbfa;
  border-radius: 8px;
}

.btn:hover {
  color: #202020;
  background-color: transparent;
  border-color: #202020;
}

.btn-primary {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.cart {
  background-color: #8bc54b;
  padding: 10px;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  transition: var(--transition);

  &:hover {
    background-color: #79d01b;
    border: none;
    color: white;
    outline: none;
  }
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text {
  color: var(--primary-grey);
  margin-bottom: 2vmin;
}

.App {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.g-text {
  color: #54b22c;
}
.yl-text{
  color: #ffd626;

}

.sec-head {
  font-family: "Goldman", cursive;
  font-weight: bold;
  font-size: 48px;
  text-align: center;

  span {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #ffd626;

    @media (max-width: 768px) {
      font-size: 38px;
    }
  }

  @media (max-width: 768px) {
    font-size: 38px;
  }
}
.sec-para{
  text-align: center;
}

.title1 {
  font-family: "Goldman", cursive;
  font-weight: bold;
  font-size: 48px;

  span {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 48px;
    color: #ffd626;

    @media (max-width: 768px) {
      font-size: 38px;
    }
  }

  @media (max-width: 768px) {
    font-size: 38px;
  }
}

.adminhead {
  margin-top: 20px;
  font-family: "Goldman", cursive;
  font-weight: bold;
  font-size: 42px;
  text-align: center;

  span {
    font-family: "Goldman", cursive;
    font-weight: bold;
    font-size: 42px;
    color: #ffd626;
  }
}