.forget-password-page {
  height: 70vh;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: larger;
    }

    input {
      width: 330px;
      height: 35px;
      outline: none;
      border: 2px solid #333333;
      font-weight: 600;
      font-size: 17px;
      background-color: transparent;
      border-radius: 8px;
      padding: 20px;
      cursor: text;
      &::placeholder {
        color: #444;
        font-weight: 500;
        cursor: pointer;
      }
    }

    button {
      width: 130px;
      height: 45px;
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 20px;
      border-radius: 8px;
      color: white;
      background-color: rgb(50, 34, 34);
      border: none;
      font-weight: 500;
    }
  }

  .alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }

  @media only screen and (min-width: 361px) and (max-width: 600px) {
    max-width: 100%;
    height: auto;
    padding: 40px;

    h2 {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    form {
      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 360px) {
    max-width: 100%;
    height: auto;
    padding: 40px;

    h2 {
      margin-left: 20px;
      margin-bottom: 10px;
      font-size: 30px;
    }

    form {
      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
