.goals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 30px;
  width: 100%;
  height: 350px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    height: 820px;
  }

  @media (max-width: 480px) {
    height: 820px;
    flex-direction: column;
  }
}

.goals-item {
  cursor: pointer;
  width: 300px;
  height: 250px;
  display: flex;
  background-color: #212321;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 5px;
  }
}

.goals-icon img {
  width: 30px;
  margin-bottom: 10px;
}

.goals-title {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0;

  @media (max-width: 480px) {
    font-size: 16px;
    margin: 8px 0;
  }
}

.goals-description {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: initial;
  &:hover {
    color: #ffffff;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }
}
